<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a href="#" class="nav-brand">appdime</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">

        <div clas="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">

                <li class="dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Cadastros</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('novo') }}" class="dropdown-item">Jogos</a></li>
                        <li><a href="#" class="dropdown-item">Categoria</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a href="#" class="dropdown-item">Console</a></li>

                    </ul>
                </li>
                <li><a href="{{url_for('index') }}" class="nav-link">Jogos</a></li>
                <li><a href="#" class="nav-link">Usuários</a></li>
                <li><a href="{{url_for('logout')}}" class="nav-link">Sair</a></li>
            </ul>
        </div> <!--fim do collapse-->

    </div><!--fim do container-->
</nav>



